.cssMemSlider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

input,
.slide,
.caption {
  display: none;
}

input:checked + .slide,
input:checked + .slide + .caption {
  display: block;
}

.caption,
label {
  margin: 20px 0;
}

.caption {
  flex-grow: 1;
}

label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 360px) {
  .caption {
    order: 2;
    width: 100%;
    flex-shrink: 0;
  }
}

/* some basic styling*/

.cssMemSlider {
  width: 500px;
}

@media screen and (max-width: 360px) {
  .cssMemSlider {
    width: 320px;
  }
}

.slide1 {
  background-color: red;
}

.slide2 {
  background-color: green;
}

.slide3 {
  background-color: blue;
}

.slide4 {
  background-color: black;
}

.slide {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

input:checked + .slide + .caption + label {
  color: red;
}
